<% now = Time.zone.now %>
<% if logged_in? == false  %>
<h1>ほっと一息♨️　</h1>
<div>
  <%= image_tag 'cafe_latte01.jpg' , width: '600', height: '400', alt: 'カフェラテ' ,class: "img-responsive" %>
</div>
<h3>
  何気なく・・・思ったことを綴る。<br>
</h3>
<% else %>
<div class = "col-md-3">
  <%= search_form_for(@q, url: root_path, class: 'well') do |f| %>
    <div class ="form-group">
      <%= f.label :title_or_content_cont, 'キーワード' %>
      <%= f.text_field :title_or_content_cont, class: 'form-control' %>
    </div>
    <div class = "form-group">
      <%= f.label :entry_time, '入力日' %><br>
      <%= f.date_select :entry_time_gteq, start_year: now.year, end_year: now.year + 1, date_separator: '/', prompt: true %>
      <br>~
      <%= f.date_select :entry_time_lteq_end_of_day, start_year: now.year, end_year: now.year + 1, default: now, date_separator: '/',prompt: true %>
    </div>
    <%= f.submit '検索', class: 'btn btn-info' %>
  <% end %>
</div>
<div class = "col-md-9">
  <div class = "panel panel-info">
    <div class = "panel-heading">
      <h4>タイムライン</h4>
    </div>
    <div class = "list-group">
      <% @contributes.each do |contribute| %>
        <%= link_to(contribute, class: 'list-group-item') do  %>
          <div class = "list-item-heading">
            <h4><%= contribute.title %></h4>
            <h6><%= contribute.entry_time.to_s[0,16] %></h6>
          </div>
          <p class = "list-group-item-text">
          <%= contribute.content %>
          </p>
        <% end %>
      <% end %>
    </div>
  </div>
<%= paginate @contributes %>
</div>
<% end %>





